@import url("https://fonts.googleapis.com/css?family=Tajawal");

body {
  font-family: "Tajawal", sans-serif;
  box-sizing: border-box;
}

body p{
  font-size: 1.15em;
}

header {
  background-color:black;
  background: url(./img/bg-blue.png);
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.home-tag{
  height: 70vh;
}

header h1.tagline {
  margin: 0 auto;
  max-width: 50%;
  font-size: 2.8em;
  padding-top: calc(100px + 6vw);
  text-align: center;
  color:white;
}

.navbar{
  background:rgba(33, 71, 113, 0.6);
  color:white;
  font-size: 18px;
}

.navbar-item{
  color:white
}

.navbar-item img{
  max-height:none;
  width:135px;
}

.bold {
  font-weight: bold;
}

.bios{
  margin-top:60px;
}

section {
  margin-bottom: 60px;
}

main {
  margin: 80px auto;
  padding: 0 50px;
  max-width: 1300px;
}

p {
  font-size: 16px;
}

h3 {
  font-size: 1.1em;
  letter-spacing: 2.3px;
  color: #0b7ab2;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  font-size: 2.2em;
}

h4 {
  font-weight: bold;
  font-size: 1.8em;
  color: #0b7ab2;
}

@media screen and (max-width: 1087px){
.navbar-menu {
    background-color: rgba(0,0,0,0.8);
}
}

@media screen and (max-width: 769px){
.columns:not(.is-desktop) {
  margin-bottom: 15%;
  }
.vector{
  display:none;
}
}

@media screen and (max-width: 680px){
  header h1.tagline{
    font-size: 2.3em;
    max-width:60%;
  }
}

@media screen and (min-width: 600px), print{
  .column.is-2, .column.is-2-tablet {
      flex: none;
      width: 16.66667%;
  }

  .columns:not(.is-desktop) {
    display: flex;
  }
}

.vector{
  height:150px;
  padding: 0 5px 0px 30px;
  align-self: center;
}

.vector .pro{
  margin-top: 25px;
}

.button{
  color: #0b7ab2;
  font-size: 18px;
  margin:25px auto;
  max-width:150px;
  border: 1px solid #0b7ab2;
  padding-top: .75em;
}

footer{
  padding:30px;
  color:white;
  background:rgba(0,0,0,.8);
}

